* {
  font-family: "Symbols Nerd Font", sans-serif;
}

.wallpaper_popup {
    background: rgba(29, 31, 40, 0.65);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    min-width: 160px;
    min-height: 200px;
  }
  
.icon {
    font-family: "Symbols Nerd Font";
    font-size: 64px;
    padding-top: 20px;
    animation: slideIn 1s ease-out forwards;
}
  
.text {
    font-size: 18px;
    color: #ffffff;
}

// Power Menu Stuff

.powermenu {
  background: rgba(29, 31, 40, 0.25);
  margin: 1000px 2000px;
}

.menu {
  background: transparent;
  min-width: 400px;
  border: none;
}

.powermenu label {
  font-size: 30px;
  font-weight: normal;
}

.powermenu .PMtitle {
  font-size: 60px;
  margin-bottom: 40px;
}

.powermenu button {
  background: transparent;
  margin: 10px;
  border-radius: 16px;
  border: 2px solid transparent; // Fixes jumpy resizing when hovering
}

.powermenu button:hover {
  background: rgba(29, 31, 40, 0.25);
  border: 2px solid rgba(255, 255, 255, 0.1);
  font-weight: bold;
}

// Overview Menu Stuff

.overview {
  background: rgba(29, 31, 40, 0.25);
  margin: 1000px 2000px;
}

.grid {
  background: transparent;
  min-width: 400px;
  border: none;
}

.overview label {
  font-size: 30px;
  font-weight: normal;
}

.overview .ovrtxt {
  font-size: 50px;
  color: rgba(205, 205, 205, 0.814);
}

.overview .icons {
  color: rgb(205, 205, 205);
  letter-spacing: 10px;
}

.overview button {
  background: rgba(0, 0, 0, 0.256);
  padding: 40px 90px 55px 90px;
  margin: 20px;
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.overview button:hover {
  background: rgba(29, 31, 40, 0.25);
  border: 2px solid rgba(255, 255, 255, 0.1);
  font-weight: bold;
}

// Minimap stuff

.minimap {
  background-color: transparent;
}

.minimap button {
  background: black;
  padding: 10px 25px 10px 25px;
  margin: 10px;
  border-radius: 6px;
  border: 2px solid #000;
}

.minimap button.active {
  border: 2px solid #5adecd;
  border-radius: 6px;
  color: #5adecd;
  background: rgba(255, 255, 255, 0.221);
}