* {
  font-family: "Symbols Nerd Font Propo", sans-serif;
  font-size: 14px;
  font-feature-settings: "tnum";
  border: none;
}

/* make the bar invisible */
window#waybar {
  background: transparent;
  margin-bottom: 0px;
}

.modules-right {
    margin: 2px 2px 0 0;
}
.modules-center {
    margin: 2px 0 0 0;
}
.modules-left {
    margin: 2px 0 0 2px;
}

/* shared pill style */
#custom-workspaces,
#workspaces,
#clock,
#pulseaudio,
#network,
#memory,
#cpu,
#custom-pomodoro,
#tray,
#window,
#custom-day,
#custom-date,
#custom-wallpaper,
#custom-notification,
#custom-power,
#bluetooth,
#custom-gpu,
#sidebar,
#sidebar.right,
#custom-tuipom,
#custom-media,
#custom-colorpicker,
#custom-sysstats
{
  background: rgba(20, 20, 20, 0.65);
  border-radius: 100px;
  padding: 3px 12px;
  margin: 8px 6px;
  border: 1px solid rgba(255,255,255,0.08);
}

/* Power Menu */

menu {
  border-radius: 10px;
	background: rgba(20, 20, 20, 0.85);
  border: 1px solid rgba(255,255,255,0.08);
	color: #fff;
}
menuitem {
  border-radius: 15px;
}

#custom-day, #custom-date {
  margin: 12px 6px;
  padding: 0px 10px;
  font-family: monospace;
}

/* workspaces buttons inside pill */

#workspaces button.active {
  background: rgba(255,255,255,0.25);
  color: #fff;
  padding: 4px 25px;
}

#workspaces {
  border-radius: 50px;
  padding: 3px 3px;
}

#workspaces button {
  border-radius: 50px;
  color: #ababab;
}

#workspaces button.empty {
  color: #535353;
}

/* #workspaces button:not(.empty) {
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.831);
  border-width: 1px;
  border-radius: 0;
} */

#workspaces button:nth-child(5), #workspaces button:nth-child(10), #workspaces button:nth-child(15) {
  border-right: solid 1px #8a8a8a;
  /* border-radius: 4px; */
}

#workspaces button:nth-child(6) {
  margin-left: 30px;
  /* border-radius: 4px; */
}

#workspaces button:nth-child(10) {
  margin-right: 30px;
  /* border-radius: 4px; */
}

#workspaces button:nth-child(1), #workspaces button:nth-child(11), #workspaces button:nth-child(6) {
  border-left: solid 1px #8a8a8a;
  /* border-radius: 4px; */
}

#workspaces button:hover:not(.active) {
  background: rgba(0, 0, 0, 0.45);
}
/* center clock */
#clock {
  font-weight: 600;
}

/* right side spacing */
#pulseaudio,
#network,
#memory
{
  padding: 6px 10px;
}

#tray {
  padding: 0 15px 0 15px;
}

#custom-wallpaper {
  border-radius: 100%;
  font-size: 15px;
}

#custom-power {
  font-size: 25px;
  padding: 0px 10px 0px 10px;
  border-radius: 100%;
}

#custom-notification {
  font-size: 15px;
  padding: 0px 13px 0px 11px;
  border-radius: 50%;
  min-width: 15px;
 }

#bluetooth {
  font-size: 15px;
  padding: 0px 11px 0px 11px;
  border-radius: 100%;
  border: 1px solid white;
}

#bluetooth.connected {
  border: 1px solid rgba(90, 222, 204, 0.821);
}

#bluetooth.off, #bluetooth.disabled {
  color: #8a8a8a;
  border: 1px solid rgba(255,255,255,0.08);
  padding: 0px 11px 0px 11px;
  border-radius: 100%;
}

#custom-wallpaper,
#custom-power,
#bluetooth,
#network.vpn,
#bluetooth.off,
#bluetooth.disabled,
#custom-tuipom,
#custom-colorpicker,
#custom-sysstats
{
  padding: unset;
  border-radius: 50%;
  min-width: 35px;
  min-height: 35px;
}

#custom-colorpicker {
  font-feature-settings: "liga=0";
  font-size: 15px;
}

#network.vpn {
  font-size: 100%;
  border: 1px solid rgba(90, 222, 204, 0.821);
  border-radius: 50%;
  padding-right: 2px;
}
 
#network.vpn.disconnected {
  border: 1px solid rgba(255,255,255,0.08);
  color: #8a8a8a;
}

/* SIDEBARS */

#sidebar {
  background: rgb(0, 0, 0);
  border-radius: 0 14px 14px 0;
  border-left: 0px;
  margin-left: 0;
}

#sidebar.right {
  background: rgb(0, 0, 0);
  border-radius: 14px 0 0 14px;
  border-right: 0px;
  margin-right: 0;
}

#custom-blender,
#custom-browser,
#custom-files,
#custom-term,
#custom-discord,
#custom-obsidian,
#custom-cal,
#custom-dwindle,
#custom-monocle,
#custom-scrolling,
#custom-master
{
  font-size: 20px;
  color: #8a8a8a;
  padding: 10px 5px 10px 0px;
}

#custom-blender:hover,
#custom-browser:hover,
#custom-files:hover,
#custom-term:hover,
#custom-discord:hover,
#custom-obsidian:hover,
#custom-cal:hover,
#custom-dwindle:hover,
#custom-monocle:hover:hover,
#custom-scrolling:hover,
#custom-master:hover
{
  color: white;
}

#custom-media,
#tray,
#custom-gpu,
#memory,
#cpu,
#network.traffic,
#window
{
  margin: 12px 6px;
  padding: 0px 10px;
}