@define-color noti-border-color rgba(255, 255, 255, 0);
@define-color noti-bg rgba(29, 31, 40, 0.65);
@define-color noti-bg-alt #111111;
@define-color noti-bg-hover @color2;
@define-color text-color rgb(253, 253, 253);
@define-color text-color-alt rgb(253, 253, 253);
@define-color text-color-disabled rgba(253, 253, 253, 0.8);

* {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* Control Center */

.control-center {
    background: @noti-bg;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 14px 0px 0px 14px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background-color: @noti-bg;
  border-radius: 10px;
}

/* Dnd stuff */
.widget-dnd switch {
  border: 1px solid rgba(255,255,255,0.08);
}

.widget-dnd > switch:checked {
  background: rgba(255,255,255,0.3);
  background-color: white;
}

/* Notifications */
.notification-row {
    outline: none;
    margin: 0px;
}

.notification {
    border-radius: 10px;
    background: @noti-bg;
    border: 1px solid rgba(255,255,255,0.08);
}

/* Bottom Button Grid */

.widget-buttons-grid {
  background: transparent;
}

.widget-buttons-grid button {
  border: 1px solid rgba(255,255,255,0.08);
}

.widget-buttons-grid button:hover{
  background: rgba(255, 255, 255, 0.1);;
}

/* Volume slider */

.widget-volume {
  border: 1px solid rgba(255,255,255,0.08);
  margin: 0px 20px 15px 20px;
}

.widget-volume highlight {
  border:unset;
  background-color: rgba(128, 128, 128, 0.4);
}

.widget-volume trough slider {
  border-radius: 100%;
  min-height: 1.25rem;
  color: white;
}

.control-center slider {
  border-radius: 9999px;
  background-color: rgb(199, 197, 208);
}

.control-center slider:active {
  background-color: #77767e;
}